################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
cpp_comp_vs.vcxproj.FileListAbsolute.txt
*.sqlite
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.sln
*.vcxproj
*.filters
*.user
*.ipch
*.suo
*.log
/Debug/cpp_comp_vs.exe
*.recipe
*.ilk
*.pdb
*.tlog
*.obj
/Debug/vc142.idb
