################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
cpp_comp_vs.vcxproj.FileListAbsolute.txt
*.exe
*.sqlite
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.sln
*.vcxproj
*.filters
*.user
*.ipch
*.suo
*.log
/Debug
*.recipe
*.ilk
*.pdb
*.tlog
*.obj
CoachAcademy.exe
/cmder
/ctesting