################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
cpp_comp_vs.vcxproj.FileListAbsolute.txt
*.sqlite
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.sln
*.vcxproj
*.filters
*.user
*.ipchits
*.suo
*.log
*.recipe
*.ilk
*.pdb
*.tlog
*.obj
*.exe

#dirs
resourses/
Debug/
.ipynb_checkpoints/
.vs/
.vs/*
.vscode/
.vscode/*
